.titulo {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    text-align: center;
}

#cuadrado {
    height: 150px;
    width: 200px;
    background: blue;
    animation-name: pepopin;
    animation-duration: 7s;
    margin-bottom: 10px;
}